.competency{
    margin-top: 50px;
}
.expertise, #contactus, footer{
    background-color: black;
    color: white;
    text-align: left;
    border: 0px;
}
.competency-item{
    margin: 20px;
}
.expertise-item{
    border-left: 5px solid orangered;
    margin: 10px auto;
    padding: 10px;
}
#form{
    margin-bottom: 20px;
}
#form input, textarea{
    background-color: black;
    color: rgb(197, 197, 197);
    width: 100%;
    border-radius: 10px;
    margin: 5px auto 5px auto;
}
#contactus{
  width: 100%;
  padding-top: 20px;
}
#contact{
    color: gainsboro;
    text-align: center;
}
#contact a{
    color: white;
}
#form .checkbox{
    margin: 10px auto 0px auto;
    padding: 10px 20px;
    width: auto;
}
#form .button_submit{
    background-color: orangered;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    margin: 10px auto 0px auto;
}
footer{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: gray;
}
ul{
    list-style-type: none;
}
.support-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5
}
footer .card{
    background-color: orangered;
    margin: 10px;
    align-content: center;
    border: 2px solid orangered;
}
footer .card-body{
    padding: 1.25rem;
}
footer .card img{
    width: 24px;
    height: 24px;
}